.p-marketing-page {
    &__bgImage {
        @include margin-top(80px);

        @include breakpoints("sm-tablet") {
            @include padding-top(30px);
            @include padding-bottom(30px);
        }

        @include breakpoints("tablet") {
            margin-top: 0;
        }
    }

    &__header {
        @include margin-top(75px);
        @include margin-bottom(60px);

        @include breakpoints("laptop") {
            @include margin-bottom(15px);
        }

        @include breakpoints("desktop") {
            margin-bottom: 0;
        }

        @include breakpoints("lg-desktop") {
            @include margin-bottom(15px);
        }

        h1 {
            @include font-size(34px);
            @include line-height(44px);
            color: get-color-primary("fresh");

            @include breakpoints("phone") {
                @include font-size("large");
                @include line-height(52px);
            }

            @include breakpoints("tablet") {
                @include font-size("largish");
                @include line-height(61px);
            }

            @include breakpoints("lg-desktop") {
                @include font-size(53px);
                @include line-height(66px);
            }
        }
    }

    &__intro {
        @include clearfix();
        @include breakpoints("laptop") {
            @include margin-bottom(10px);
        }

        .o-hero__left {
            @include span-col(12);
            text-align: center;

            @include breakpoints(300px, "tablet") {
                img {
                    @include rem-fallback(max-width, 225px);
                    @include rem-fallback(height, 225px);
                }
            }

            @include breakpoints("tablet", "laptop") {
                img {
                    @include rem-fallback(max-width, 250px);
                    @include rem-fallback(height, 250px);
                }
            }

            @include breakpoints("laptop") {
                position: relative;
                @include span-col(3);

                img {
                    @include rem-fallback(max-width, 165px);
                    @include rem-fallback(height, 165px);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            @include breakpoints("lg-desktop") {
                img {
                    @include rem-fallback(max-width, 169px);
                    @include rem-fallback(height, 169px);
                }
            }

            @include breakpoints("xl-desktop") {
                @include rem-fallback(max-width, 220px);
            }
        }

        .o-hero__right {
            @include breakpoints(300px, "sm-tablet") {
                @include span-col(12);
                @include margin-top(35px);
            }

            @include breakpoints("sm-tablet"){
                @include span-col(10);
                @include margin-top(35px);
                margin-left: 8.3333%;
            }

            @include breakpoints("laptop") {
                @include span-col(8);
                @include margin-left(30px);
            }

            @include breakpoints("lg-desktop") {
                @include margin-left(10px);
            }

            @include breakpoints("xl-desktop") {
                @include span-col(9);
            }

            p {
                @include font-size("smaller");
                @include line-height(30px);
                font-weight: 500;
                margin-block-start: 0;

                @include breakpoints("sm-tablet") {
                    @include font-size(21px);
                    @include line-height(35px);
                }
            }
        }
    }

    &__body {
        @include breakpoints("laptop") {
            @include rem-fallback(max-width, 768px);
        }

        @include breakpoints("sm-desktop") {
            @include rem-fallback(max-width, 900px);
        }

        @include breakpoints("lg-desktop") {
            @include rem-fallback(max-width, 1000px);
        }

        @include breakpoints("xl-desktop") {
            @include rem-fallback(max-width, 1200px);
        }
    }

    &__header,
    &__content,
    &__form {
        @include span-col(12);

        @include breakpoints("sm-tablet") {
            @include span-col(10);
            margin-left: 8.3333%;
        }

        @include breakpoints("lg-laptop", "lg-desktop") {
            @include span-col(12);
        }
    }

    &__content {
        h2 {
            @include font-size(24px);
            @include line-height(30px);
            @include margin-top(15px);
            @include margin-bottom(15px);
            color: get-color-primary("fresh");

            @include breakpoints("sm-tablet") {
                @include margin-top(25px);
                @include font-size(32px);
                @include line-height(50px);
            }

            @include breakpoints("laptop") {
                @include margin-top(30px);
                @include margin-bottom(30px);
                @include font-size("large");
                @include line-height(40px);
            }

            @include breakpoints("lg-desktop") {
                @include line-height(50px);
            }
        }

        a,
        p {
            @include font-size(16px);
            @include line-height(26px);
            margin-block-start: 0;

            @include breakpoints("sm-tablet") {
                @include font-size("small");
                @include line-height(34px);
            }

            @include breakpoints("sm-desktop") {
                @include font-size(24px);
                @include line-height(39px);
            }
        }

        ul {
            margin-left: 0;

            @include breakpoints("tablet") {
                @include margin-left(20px);
            }

            li {
                @include font-size("base");
                @include line-height(26px);
                margin-block-start: 0;

                @include breakpoints("sm-tablet") {
                    @include font-size("medium-small");
                    @include line-height(50px);
                }

                @include breakpoints("laptop") {
                    @include font-size(24px);
                    @include line-height(43px);
                }
            }
        }
    }

    &__form {
        @include margin-top(45px);
    }

    footer {
        .o-rhythm__container {
            @include margin-top(60px);
            margin-left: auto;
            margin-right: auto;

            @include breakpoints("tablet") {
                @include margin-top(100px);
            }

            @include breakpoints("laptop") {
                @include rem-fallback(max-width, 768px);
            }

            @include breakpoints("sm-desktop") {
                @include rem-fallback(max-width, 900px);
            }

            @include breakpoints("lg-desktop") {
                @include rem-fallback(max-width, 1000px);
            }

            @include breakpoints("xl-desktop") {
                @include rem-fallback(max-width, 1200px);
            }
        }
    }
}