.o-contact-form {
    @include clearfix();
    position: relative;
    display: none;

    &.-initial {
        display: block;

        fieldset {
            display: block;
        }
    }

    &.-active {
        display: block;
    }

    fieldset {
        display: none;

        &.-active {
            @include margin-bottom(113px);
            display: block;

            &.-form-message {
                @include margin-bottom(55px);

                textarea {
                    @include rem-fallback(height, 100px);
                }
            }
        }
    }

    &__container {
        @include clearfix();
        @include padding(80px, 0, 50px, 0);
        position: relative;
        background: get-color("primary", "after-hours");

        fieldset {
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus textarea:-webkit-autofill,
            textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
            select:-webkit-autofill,
            select:-webkit-autofill:hover,
            select:-webkit-autofill:focus {
                -webkit-box-shadow: 0 0 0 30px #043544 inset !important;
                -webkit-text-fill-color: get-color-primary("fresh") !important;
            }
        }

        &.-light {
            background: get-color("primary", "white");

            h1,
            header,
            .o-contact-form__wrapper__heading,
            fieldset .a-radio + label
            {
                color: get-color-primary("after-hours");
            }

            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus textarea:-webkit-autofill,
            textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
            select:-webkit-autofill,
            select:-webkit-autofill:hover,
            select:-webkit-autofill:focus {
                -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
                -webkit-text-fill-color: get-color-primary("after-hours") !important;
            }
        }

        .o-contact-form__wrapper__heading {
            @include font-size("smallest");
            @include line-height("base");
            @include margin(0, 0, 40px);
            color: get-color-primary("white");
            font-weight: 600;
            font-family: $font-secondary;
            letter-spacing: .2em;
            text-transform: uppercase;

            @include breakpoints("tablet") {
                @include margin(0, 0, 80px);
            }
        }


        &.-active {
            .-initial {
                display: none;
            }
        }
    }

    @keyframes flyInAnimation {
        0% {
            opacity: 0;
            margin-left: 10%;
        }
        100% {
            opacity: 1;
            margin-left: 0;
        }
    }

    &__forms {
        display: none;

        &.-active {
            display: block;

            header, fieldset {
                animation: flyInAnimation ease 0.5s;
                animation-iteration-count: 1;
            }
        }
    }

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    &__submitted {
        @include margin-bottom(138px);
        margin-left: auto;
        animation: fadeInAnimation ease 0.6s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        h1 {
            color: get-color("primary", "white");
        }

        p {
            color: get-color("neutral", "light-gray");
        }
    }

    &__buttons {
        @include margin-top(40px);
        animation: flyInAnimation ease 0.5s;
        animation-iteration-count: 1;

        &.-space {
            @include padding(0, 30px);

            @include breakpoints("sm-tablet") {
                @include padding(0, 56px);
            }
        }

        .a-button {
            @include margin-right(30px);
            cursor: pointer;

            @include breakpoints("phone") {
                @include margin-right(60px);
            }

            &.-disabled {
                cursor: default;
            }
        }
    }

    &__progress {
        @include rem-fallback(height, 4px);
        background: get-color("primary", "fresh");
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
    }

    header {
        @include font-size(30px);
        color: get-color("primary", "white");

        @include breakpoints("tablet") {
            @include font-size("medium-large");
            @include margin-bottom(40px);
        }

        &.-light {
            color: get-color("primary", "after-hours");
        }
    }

    .o-rhythm__container {
        overflow: hidden;
    }

    .typeform-widget {
        height: 100vh;
        background: get-color("primary", "after-hours");
    }

    #root {
        background: get-color("primary", "after-hours");
    }
}

.animate-appear {
    opacity: 0.01;
}

.animate-appear.animate-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.animate-enter {
    position: relative;
    opacity: 0.01;
    left: -100%;
  }

  .animate-enter.animate-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
    left: 0;
  }

  .animate-leave {
    opacity: 1;
  }

  .animate-leave.animate-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
