.o-registration-form {
    @include clearfix();
    position: relative;
    background-color: #f5f5f5;

    &__container {
        @include clearfix();
        @include padding(60px, 30px);
        position: relative;

        h2 {
            @include font-size(30px);
            color: get-color("primary", "fresh-dark");

            @include breakpoints("tablet") {
                @include font-size("medium-large");
                @include margin-bottom(20px);
            }

            &.-light {
                color: get-color("primary", "fresh-dark");
            }
        }

        fieldset .a-radio + label {
            color: get-color-primary("white");
        }

        &.-light {
            background: get-color("primary", "white");

            h2 {
                color: get-color-primary("after-hours");
            }

            .o-contact-form__wrapper__heading {
                color: get-color-primary("after-hours");
            }

            fieldset .a-radio + label {
                color: get-color-primary("after-hours");
            }
        }

        .o-contact-form__wrapper__heading {
            @include font-size("smallest");
            @include line-height("base");
            @include margin(0, 0, 40px);
            color: get-color-primary("white");
            font-weight: 600;
            font-family: $font-secondary;
            letter-spacing: .2rem;
            text-transform: uppercase;

            @include breakpoints("tablet") {
                @include margin(0, 0, 80px);
            }
        }
    }

    &__input {
        &-container {
            @include breakpoints("sm-tablet") {
                display: flex;
            }

            fieldset {
                @include margin-bottom(60px);
                @include margin-top(43px);

                input:-webkit-autofill,
                input:-webkit-autofill:hover,
                input:-webkit-autofill:focus textarea:-webkit-autofill,
                textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
                select:-webkit-autofill,
                select:-webkit-autofill:hover,
                select:-webkit-autofill:focus {
                    -webkit-box-shadow: 0 0 0 30px #f5f5f5 inset !important;
                    -webkit-text-fill-color: get-color-primary("fresh") !important;
                }

                input {
                    &.a-input {
                        background-color: #f5f5f5;

                        &.-field-disabled {
                            &::placeholder {
                                color: get-color-neutral("light-gray");
                            }

                            &::-webkit-input-placeholder {
                                color: get-color-neutral("light-gray");
                            }

                            &::-moz-placeholder {
                                color: get-color-neutral("light-gray");
                            }

                            &:-ms-input-placeholder {
                                color: get-color-neutral("light-gray");
                            }

                            &:-moz-placeholder {
                                color: get-color-neutral("light-gray");
                            }
                        }
                    }
                }
            }

            .-left {
                @include breakpoints("sm-tablet") {
                    @include padding-right(25px);
                    width: 50%;
                }
            }

            .-right {
                @include breakpoints("sm-tablet") {
                    width: 50%;
                }
            }
        }
    }

    &__buttons {
        @include margin-top(50px);

        .a-button {
            @include font-size("smaller");
            cursor: pointer;
            padding-right: .2rem;

            &.-disabled {
                cursor: default;
            }
        }
    }

}