fieldset {
    legend {
        display: none;
    }

    button.form-button {
        @include font-size(22px);
        @include padding(0, 16px);
        @include margin(10px, 0);
        background: get-color-primary("after-hours");
        color: get-color-neutral("light-gray");
        position: relative;
        z-index: 1;
        border: none;
        font-weight: inherit;
        font-family: inherit;

        @include breakpoints("tablet") {
            @include font-size(32px);
        }

        &:hover {
            cursor: pointer;
            color: get-color-primary("white");

            &:before,
            &:after {
                content: "";
                position: absolute;
                display: inline-block;
                z-index: -1;
                top: 50%;
                transform: translateY(-50%);
            }

            &:before {
                @include rem-fallback(width, 50px);
                @include rem-fallback(height, 6px);
                @include rem-fallback(left, -20px);
                background: url('../../../static/img/arrow-front.svg') no-repeat center center / contain;

                @include breakpoints("phone") {
                    left: -50px;
                }
            }

            &:after {
                @include rem-fallback(width, 60px);
                @include rem-fallback(height, 18px);
                background: url('../../../static/img/arrow.svg') no-repeat center center / contain;
            }
        }

        &:focus {
            color: get-color-primary("white");
        }

        &.-light {
            background: get-color("primary", "white");
            color: get-color-primary("after-hours-light");

            &:hover {
                color: get-color-primary("after-hours");
            }

            &:focus {
                color: get-color-primary("after-hours");
            }
        }
    }
}