fieldset {
    legend {
        display: none;
    }

    button.form-button {
        @include font-size(22px);
        background: get-color-primary("after-hours");
        color: get-color-primary("white");
        position: relative;
        padding: 0 16px;
        margin: 10px 0;
        z-index: 1;
        border: none;
        font-weight: inherit;
        font-family: inherit;

        &.-light {
            background: get-color("primary", "white");
            color: get-color-primary("after-hours");
        }

        @include breakpoints("tablet") {
            @include font-size(32px);
        }

        &:hover {

            &:before,
            &:after {
                content: "";
                position: absolute;
                display: inline-block;
                z-index: -1;
                top: 50%;
                transform: translateY(-50%);
            }

            &:before {
                background: url('../../../static/img/arrow-front.svg') no-repeat center center / contain;
                width: 50px;
                height: 6px;
                left: -20px;

                @include breakpoints("phone") {
                    left: -50px;
                }
            }

            &:after {
                background: url('../../../static/img/arrow.svg') no-repeat center center / contain;
                width: 60px;
                height: 18px;
            }
        }
    }
}